<div class="row-fluid">
	<div class="span4">
		<h2 class="text-center">Features</h2>
		<i class="icon-plus"></i>
		<ul id="features-list">
			<% @features.each do |f| %>
			<li><%= f.name %></li>
			<% end %>
		</ul>



<%= form_for @feature, :url => {:controller => 'feature', :action => 'create' } do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
<% end %>


	</div>
	<div class="span4">
		<h2 class="text-center">Test Suites</h2>
	</div>
	<div class="span4">
		<h2 class="text-center">Test Cases</h2>
	</div> 
</div>  
